body{
    margin: 0; padding: 0;
    font-family: 'Pangolin', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}
header{
    max-width: 100%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
}
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 40px;
    width: 100px;
}
.menu{
    display: flex;
    gap: 30px;
    align-items: center;
}
.menu a{
    text-decoration: none;
}
.style{
    color: rgba(209, 78, 111, 0.596);
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo-pic{
    width: 50px;
    height: 35px;
}
.menu-item{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
}
.menu-item > span{
    margin: 0 7px;
    font-size: 24px;
    color: red;
}
span .tuk-tak{
    color: black;
}
/* main sections style  */
main{
    width: 80%;
    margin: auto;
}
/* play section style  */

.play{
    display: flex;
    align-items: center;
    gap: 50px;
}
.play-info{
    width: 50%;
    background:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    padding: 50px;
}

.play-img{
    width: 50%;
}
.play-img > img{
    width: 100%;
}
.play-head{
 font-size: 45px;
 text-transform: uppercase;
 margin-bottom: 0;
}
.play-head-2{
    font-size: 70px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 800;
   margin-top: 5px;
   margin-bottom: 0;
}
.play-info p{
    margin: 10px 0;
    justify-content: center;
    text-align: start;
}

.play-info p span{
    color: #F948B2;
}
.btn-1{
    padding: 18px 40px;
    font-size: 18px;
    background-color: #F948B2;
    border: none;
    color: white;
    border-radius: 20px;
    margin-right: 20px;
}
.btn-2{
    padding: 18px 40px;
    font-size: 18px;
    background-color: #4EC5F7;
    border: none;
    color: white;
    border-radius: 20px;
}
/* Online game section  */
.online-game{
    margin-top: 100px;
}
.online-head{
    font-size: 40px;
}
.online-game-info{
    text-align: center;
}
.online-game-des{
    margin: 15px 0 40px 0;
}
.online-head-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cards{
    display: flex;
    gap: 20px;
}


.card > img{
    width: 100%;
    margin-bottom: 10px;
    height: 350px;
}

/* instant secton styles */
.play-instant{
    display: flex;
    align-items: center;
    text-align: end;
    margin-top: 80px;
    margin-bottom: 120px;
}
.play-instant-info{
    width: 50%;
    display: flex;
    justify-content: center;
}
.play-instant p{
    text-align: end;
}
.play-instant-img{
    widows: 50%;
    position: relative;
}
.play-instant-img > img{
    height: 560px;
}
.play-instant-sub-img{
    position: absolute;
    top: 370px;
    left: -100px;
}
.play-instant-sub-img > img{
    height: 250px;
    width: 100%;
}
.play-instant-head{
    margin: 15px 0;
    font-size: 45px;
}
/* games styles */
.games{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 400px;
    position: relative;
    align-content: center;
}
.logo-p a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.logo-p{
    height: 50px;
    align-content: center;
    align-items: center;
    display: flex;
    padding: 10px 15px;
    color: black;
    
}
.logo-p:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* footer styles  */
footer{
    background-color: black;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    color: white;
    margin: auto;
    justify-content: center;
    padding: 50px;
}
.list-item{
    justify-content: center;
}
.logo-div{
    display: flex;
    align-items: center;
}
.list-item{
    display: flex;
    gap: 40px;
    margin: 35px 0;
    font-size: 12px;
}
.list-item-2{
    display: flex;
    gap: 40px;
    margin: 35px 0;
    font-size: 12px;
    list-style: none;
    justify-content: center;
}
.list-item li{
    list-style: none;
}
.icon{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.icon span{
    font-size: 25px;
    color: white;
    margin: 0 20px;
}
p{
    text-align: center;
    font-size: 12px;
}




/* Responsive part start  */

/* mobile device  */
@media screen and (max-width:576px) {
    nav{
        width: 100%;
        flex-direction: column;
    }
    .menu{
        gap: 10px;
        flex-direction: column;
    }
    .menu-item > span{
        margin: 0 5px;
    }
    .menu-item{
        padding: 5px 10px;
    }
    /* play section responsive */
    .play{
        flex-direction: column-reverse;
    }
    .play-info{
        width: 100%;
        margin-top: 20px;
    }
    .play-img{
        width: 100%;
    }
    /* online game section  */
    .online-game{
        width: 100%;
    }
    .cards{
        flex-direction: column;
    }
    /* play instant styles  */
    .play-instant{
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
    .play-instant-img{
        widows: 100%;
    }
    .play-instant-info{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .play-instant-sub-img{
        position: absolute;
        top: 280px;
        left: -140px;
    }
    .play-instant-img > img{
        width: 100%;
        height: auto;
    }
    .play-instant-sub-img > img{
        height: auto;
        width: 30%;
    }
    .games{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        gap: 50px;
    }
    .logo-p{
        padding: 2px 5px;
        width: 80px;
        margin: 0 5px;
        align-self: center;
    }
    .logo-p a {
        margin-left: 5px;
        font-size: 10px;
    }
    .logo-p img{
        width: 40px; height: 40px;
    }
    /* footer responsive  */
    .list-item{
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .list-item-2{
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .container{
        text-align: center;
    }

}
/* desktop view  */
@media screen and (min-width:577px) and (max-width:768px){
    nav{
        flex-direction: column;
    }
    .play{
        flex-direction: column-reverse;
    }
    .play-info{
        width: 100%;
        margin: auto;
        margin-left: 100px;
    }
    .play-img{
        width: 100%;
    }
    .online-game{
        margin: auto;
        margin-left: 50px;
    }
    .card img{
        height: auto;
    }
    .play-instant{
        flex-direction: column-reverse;
    }
    .play-instant-img{
        width: 100%;
        margin-left: 30px;
    }
    .play-instant-info{
        margin-top: 100px;
        width: 100%;
        text-align: center;
    }
    .play-instant-info p{
        text-align: center;
    }
    .games{
        width: 100%;
    }
    .logo-p{
     margin-left: 50px;
    }
}













