*{
    margin: 0; padding: 0;
}
header{
    max-width: 100%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
}
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 40px;
    width: 100px;
}
.menu{
    display: flex;
    gap: 30px;
    align-items: center;
}
.menu a{
    text-decoration: none;
}
.style{
    color: rgba(209, 78, 111, 0.596);
}
.logo{
    display: flex;
    align-items: center;
}
.logo-pic{
    width: 50px;
    height: 35px;
}
.menu-item{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
}
.menu-item > span{
    margin: 0 7px;
    font-size: 24px;
    color: red;
}
span .tuk-tak{
    color: black;
}
/* main sections style  */
main{
    width: 80%;
    margin: auto;
}
/* play section style  */

.play{
    display: flex;
    align-items: center;
    gap: 50px;
}
.play-info{
    width: 50%;
    background:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    padding: 50px;
}

.play-img{
    width: 50%;
}
.play-img > img{
    width: 100%;
}
.play-head{
 font-size: 45px;
 text-transform: uppercase;
}
.play-head-2{
    font-size: 70px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 800;
}
.play-info p{
    margin: 15px 0;
}

.play-info p span{
    color: #F948B2;
}
.btn-1{
    padding: 18px 40px;
    font-size: 18px;
    background-color: #F948B2;
    border: none;
    color: white;
    border-radius: 20px;
    margin-right: 20px;
}
.btn-2{
    padding: 18px 40px;
    font-size: 18px;
    background-color: #4EC5F7;
    border: none;
    color: white;
    border-radius: 20px;
}

















/* Responsive part start  */

/* mobile device  */
@media screen and (max-width:576px) {
    nav{
        width: 100%;
        flex-direction: column;
    }
    .menu{
        gap: 10px;
        flex-direction: column;
    }
    .menu-item > span{
        margin: 0 5px;
    }
    .menu-item{
        padding: 5px 10px;
    }
    /* play section responsive */
    .play{
        flex-direction: column-reverse;
    }
    .play-info{
        width: 100%;
        margin-top: 20px;
    }
    .play-img{
        width: 100%;
    }
}














